{% extends "base.html" %}
{% from "_macros.html" import collapse_card_start, collapse_card_end, card_link_by_title %}
{% block content %}


<h1>TaskGroup {{data.label}} </h1>

{{ collapse_card_start("Taskgroup Information", show=True) }}
      <dl class="dl-horizontal">
        <dt>id</dt>
        <dd>{{ data.id }}</dd>

        <dt>label</dt>
        <dd>{{ data.label }}</dd>

        <dt>status</dt>
        <dd>{{ data.status }}</dd>

        <dt># tasks</dt>
        <dd>
            {{ card_link_by_title("Tasks")}}
                <span class="badge badge-secondary">{{ data.tasks | length }}</span>
            </a>
        </dd>

        <dt># queued tasks</dt>
        <dd>
            {{ card_link_by_title("Tasks")}}
                <span class="badge badge-secondary">{{ data.tasks | selectattr("status", "equalto", "queued") | list | length }}</span>
            </a>
        </dd>
      </dl>
{{ collapse_card_end("Taskgroup Information") }}

{% if data.callback_url %}
{{ collapse_card_start("Callback Information", show=True) }}
          <dl class="dl-horizontal">
              <dt>callback url</dt>
              <dd><a href="{{ data.callback_url }}">{{ data.callback_url }}</a></dd>
          </dl>
          <dl class="dl-horizontal">
              <dt>callback called</dt>
              <dd>
                <span class="badge badge-{{ 'success' if data.callback_fired else 'danger' }}">
                  {{data.callback_fired}}
                </span>
              </dd>
          </dl>
          <dl class="dl-horizontal">
              <dt>callback content</dt>
              <dd>
                  <pre class="language-json line-numbers"><code>{{ data.callback_content | json_format }}</code></pre>
              </dd>
          </dl>
{{ collapse_card_end("Callback Information") }}
{% endif %}

{% if data.tasks %}
<h1>Tasks Overview</h1>
{{ collapse_card_start("Tasks", show=True, data_count=data.tasks|length) }}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>status</th>
                    <th>lock</th>
                    <th>project</th>
                    <th>application name</th>
                    <th>application version</th>
                    <th>template</th>
                    <th>create time</th>
                    <th>update time</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data.tasks %}
                <tr>
                    <td>
                        <a href="{{url_for('web.task', id=d.id) }}">
                            {{d.id}}
                        </a>
                    </td>
                    <td>{{d.status}}</td>
                    <td>
                        {% if d.lock %}
                        <a href="{{url_for('web.user', id=d.lock.id)}}">{{d.lock.name}}</a>
                        {% endif %}
                    </td>
                    <td>{{d.project}}</td>
                    <td>{% if d.application_name %} {{d.application_name}} {% endif %}</td>
                    <td>{% if d.application_version %} {{d.application_version}} {% endif %}</td>
                    <td>{{d.template.label}}</td>
                    <td>{{d.create_time}}</td>
                    <td>{{d.update_time}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
{{ collapse_card_end("Tasks") }}
{% endif %}

{% endblock %}
