{% extends "base.html" %}
{% from "_macros.html" import collapse_card_start, collapse_card_end, card_link_by_title %}

{% block content %}

<h1>Task Template Overview</h1>
{{ collapse_card_start("Task Templates", show=True, data_count=data|length) }}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>label</th>
          <th># of tasks</th>
          <th># of queued tasks</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
          <td>
            <a href="{{url_for('web.template', id=d.id) }}">
              {{d.id}}
            </a>
          </td>
          <td>
            <a href="{{url_for('web.template', id=d.id) }}">
              {{d.label}}
            </a>
          </td>
          <td>
            {{ card_link_by_title(title="Tasks", prefix=url_for('web.template', id=d.id))}}
            <span class="badge badge-secondary">
              {{d.tasks | length}}
            </span>
            </a>
          </td>
          <td>
            {{ card_link_by_title(title="Tasks", prefix=url_for('web.template', id=d.id))}}
            <span class="badge badge-secondary">
              {{d.tasks | selectattr("status", "equalto", "queued") | list | length}}
            </span>
            </a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
{{ collapse_card_end("Task Templates") }}


{% endblock %}
