{% extends "base.html" %}
{% from "_macros.html" import collapse_card_start, collapse_card_end, card_link_by_title %}

{% block content %}

<h1>Task Template {{ data.label }} </h1>
{{ collapse_card_start("Template Information", show=True) }}
      <dl class="dl-horizontal">
        <dt>id</dt>
        <dd>{{ data.id }}</dd>

        <dt>label</dt>
        <dd>{{ data.label }}</dd>

        <dt># tasks</dt>
        <dd>
          {{ card_link_by_title("Tasks")}}
            <span class="badge badge-secondary">{{ data.tasks | length }}</span>
          </a>
        </dd>

        <dt># queued tasks</dt>
        <dd>
          {{ card_link_by_title("Tasks")}}
            <span class="badge badge-secondary">{{ data.tasks | selectattr("status", "equalto", "queued") | list | length }}</span>
          </a>
        </dd>
      </dl>
{{ collapse_card_end("Template Information") }}


{% if data.tasks %}
{{ collapse_card_start("Task Count per User", show=True, data_count=counts_per_user|length) }}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>user</th>
          <th># of tasks</th>
          <th># of queued tasks</th>
        </tr>
        </thead>
        <tbody>
        {% for u in counts_per_user|sort(attribute='user_id') %}
        <tr>
          <td>{{ u['user_id'] }}</td>
          <td><a href="{{url_for('web.template', id=u['user_id']) }}">{{u['user']}}</a></td>
          <td>
            {{ card_link_by_title(title="Tasks per Template", prefix=url_for('web.user', id=u['user_id'])) }}
              <span class="badge badge-secondary">{{ u['tasks'] }}</span>
            </a>
          </td>
          <td>
            {{ card_link_by_title(title="Tasks Assigned", prefix=url_for('web.user', id=u['user_id'])) }}
              <span class="badge badge-secondary">{{u['tasks_queued']}}</span>
            </a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
{{ collapse_card_end("Task Count per User") }}

{{ collapse_card_start("Tasks", show=True, data_count=data.tasks|length) }}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>status</th>
            <th>lock</th>
            <th>project</th>
            <th>create time</th>
            <th>update time</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data.tasks|sort(attribute='id') %}
          <tr>
            <td>
              <a href="{{url_for('web.task', id=d.id) }}">
                {{d.id}}
              </a>
            </td>
            <td>{{d.status}}</td>
            <td>
                {% if d.lock %}
                    <a href="{{url_for('web.user', id=d.lock.id)}}">{{d.lock.name}}</a>
                {% endif %}
            </td>
            <td>{{d.project}}</td>
            <td>{{d.create_time}}</td>
            <td>{{d.update_time}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{{ collapse_card_end("Tasks") }}
{% endif %}

{% if data.content %}
{{ collapse_card_start("Content JSON", show=True) }}
      <dl class="dl-horizontal">
        <dt>content</dt>
        <dd>
          <pre class="language-json line-numbers"><code>{{ data.content | json_format }}</code></pre>
        </dd>
      </dl>
{{ collapse_card_end("Content JSON") }}
{% endif %}

{% endblock %}
